@{
    ViewBag.Title = "About:";
}
<div class="col-xs-12">
    <h2>@ViewBag.Title</h2>
    <h2>@ViewBag.Message</h2>

    <p><a href="mailto:campbellc8@students.rowan.edu?Subject=Hey%20Chris" target="_top">campbellc8@students.rowan.edu</a></p>
    <p class="text">Kimble Byrd</p>
    <p class="text">New Venture Development</p>
    <p class="text">Monday, Wednesday - 2 PM</p>

</div>