<div class="col-xs-12">
    <h1>@ViewBag.Message</h1>
    <div class="col-xs-12 col-sm-4 adding-content" style="margin: auto;">
        <img style="border-left: 1px solid lightblue;max-width: 250px; max-height:400px;" class="img-responsive" src="~/Content/Images/strong-cartoon-brain.jpg" />
    </div>
    <div class="col-xs-12 col-sm-left-offset-1 col-sm-7">
        <p class="text">This is being updated! We are actively adding content for your learning pleasure!</p>
        <p class="text">Thanks for patiently waiting.</p>
        <p class="text">Plenty of more to pick from!</p>
        <p class="text">Browse around: @Html.ActionLink("here", "Index", "Tutorials")!</p>
    </div>
</div>