@{
    ViewBag.Title = "Contact:";
}

<div class="col-xs-12">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>


    <address>
        <strong>Personal:</strong>  <a href="mailto:campbellc8@students.rowan.edu?Subject=Hey%20Chris">CCPersonal@interactivetutorials.com</a><br />
        <strong>Support:</strong>   <a href="mailto:campbellc8@students.rowan.edu?Subject=Support">CCSupport@interactivetutorials.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:campbellc8@students.rowan.edu?Subject=Marketing">CCMarketing@interactivetutorials.com</a>
    </address>

</div>
