<div class="col-xs-12">
    <h1>@ViewBag.Message</h1>
    <div class="col-xs-12 col-sm-4 maintenance" style="margin: auto;">
        <img style="border-left: 1px solid lightblue;max-width: 250px; max-height:200px;" class="img-responsive"src="~/Content/Images/gears.png" />
    </div>
    <div class="col-xs-12 col-sm-left-offset-1 col-sm-7">
        <p class="text">Sorry about that, but we are trying to keep up with our most popular content.</p>
        <p class="text">This will mean shorter downtime and better, more effective tutorials later!</p>
        <p class="text">Thanks for patiently waiting.</p>
        <p class="text">Plenty of more to pick from!</p>
        <p class="text">Browse around: @Html.ActionLink("here", "Index", "Tutorials")!</p>
    </div>
</div>