<div class="row col-xs-12 excel-text"><p class="header">Introduction</p></div>
<div class="row col-xs-12 excel-text">
    In this tutorial, we are using Microsoft Excel 2010 edition. Excel is a spreadsheet program that allows you to store, organize, and analyze information. In this lesson, you will learn your way around the Excel 2010 environment.
</div>
<div class="row col-xs-12 excel-subtext">
    We will show you how to use and modify the Ribbon and the Quick Access toolbar, as well as how to create new workbooks and open existing ones. After this lesson, you will be ready to get started on your first workbook.
</div>
<div class="row col-xs-12 excel-examples">
    <div class="row col-xs-12 col-sm-4" id="image1" style="display: none;">
        <img class="img-responsive" id="factimage1" src="~/Content/Images/excelimageGIF.gif" />
    </div>
    <div class="row col-xs-12 col-sm-4" id="image2" style="display: none;">
        <img class="img-responsive" src="~/Content/Images/excelfact1.jpg" />
    </div>
    <div class="row col-xs-12 col-sm-4" id="image3" style="display: none;">
        <img class="img-responsive" src="~/Content/Images/statsexamples.jpg" />
    </div>
</div>
