<div class="row col-xs-12 excel-text" id="step-three-text">
    <p class="header">The Excel Environment</p>
</div>
<div class="row col-xs-12 col-sm-12">
    <div class="col-xs-12 col-sm-6">
        <p>The Ribbon and Quick Access toolbar are where you'll find the commands you need to perform common tasks in Excel.</p>
        <p>Watch the video on the right to learn more about the Ribbon in Excel. This one is also short and sweet.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LzGFUEfb83s" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
