<div class="row col-xs-12 excel-text" id="step-one-text">
    <p class="header">Getting Started with Excel</p>
</div>
<div class="row col-xs-12 col-sm-12">
    <div class="col-xs-12 col-sm-6">
        <p>The Excel 2010 interface is very intuitive. If you're new to Excel, let's first take some time to learn how to navigate an Excel workbook.</p>
        <p>Watch the video on the right to gain a little more insight on what there is to offer in Microsoft Excel. It's short and sweet.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LzGFUEfb83s" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
