<div class="col-xs-12 visible-xs">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Hey! Thanks for checking out CC &amp; Co. Definitely try out one of our new tutorials! Microsoft Excel is our highest rated yet!</p>&mdash; Chris Campbell (projectsbychris) <a href="https://twitter.com/projectsbychris/status/935342562684096513?ref_src=twsrc%5Etfw">November 28, 2017</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="row col-xs-12 buffer">
    <p>This is the only place to find FREE, EASY, and INTERACTIVE tutorials to help you learn the most popular applications to date.</p>
</div>
<div class="row col-xs-12" style="text-align: center;" ><img class="img-responsive" src="~/Content/Images/people-office.jpg" /></div>
<div class="row col-xs-12 buffer" style="margin-top: 10px;">
    <p>We have tutorials on all the latest and greatest software programs that will aid you in finding what you are best at.</p>
</div>
