
<h3 style="color: indigo; text-decoration: underline;">Popular Right Now:</h3>
<div class="row col-sm-12 excel">
    <div class="col-sm-3 img-wrapper">
        <img class="img-responsive" src="~/Content/Images/Microsoft-Excel-Mac-icon.png" />
    </div>
    <div class="col-sm-9">
        <h3>@Html.ActionLink("Learn Microsoft Excel >", "MicrosoftExcel", "Tutorials")</h3>
        <p>One of the most popular programs in today's workforce.</p>
    </div>
</div>

<div class="row col-sm-12 powerpoint">
    <div class="col-sm-3 img-wrapper">
        <img class="img-responsive" src="~/Content/Images/Microsoft-PowerPoint-Mac-icon.png" />
    </div>
    <div class="col-sm-9 img-wrapper">
        <h3>@Html.ActionLink("Learn Microsoft PowerPoint >", "AddingContent", "Home")</h3>
        <p>Tips to help maximize and increase efficiency.</p>
    </div>
</div>

<div class="row col-sm-12 word">
    <div class="col-sm-3 img-wrapper">
        <img class="word-icon img-responsive" src="~/Content/Images/Microsoft-Word-Mac-icon.png" />
    </div>
    <div class="col-sm-9">
        <h3>@Html.ActionLink("Learn Microsoft Word >", "Maintenance", "Home")</h3>
        <p>Ways to improve your typing and fix those pesky spelling errors.</p>
    </div>
</div>

<div class="row col-sm-12 text-more" style="margin-top: 25px;">
    <div class="col-sm-10 col-sm-offset-2">
        <p>Plenty of more to pick from!</p>
        <p>Browse around: @Html.ActionLink("here", "Index", "Tutorials")!</p>
    </div>
</div>