body {
  font-family: Calibri; }

.margin-auto {
  margin: 15px auto; }

.container-fluid {
  max-width: 1300px;
  margin: auto; }

h1 {
  color: indigo;
  font-family: Calibri; }

.maintenance img {
  margin: 20px; }

.adding-content img {
  margin-left: 40px; }

.text {
  margin-top: 20px;
  color: indigo;
  line-height: 18px; }

.main-wrapper {
  /*border: 1px solid lightblue;
        border-top: 0px;
        border-radius: 10px;*/
  margin-bottom: 20px; }

.navbar {
  max-width: 1300px;
  background-color: #020224;
  color: white;
  border-radius: 0px;
  margin-bottom: 0px; }

.navbar-inverse .navbar-nav li a {
  color: white;
  font-size: 20px;
  padding: 15px 30px; }

.navbar-inverse .navbar-nav a:hover, .navbar-inverse .navbar-nav a:focus {
  text-decoration: underline;
  color: #999999; }

.leaderboard {
  margin: 0 auto;
  background-image: url("Images/LeaderboardBannerWave.jpg");
  max-width: 1300px;
  height: 335px;
  background-repeat: no-repeat;
  padding: 15px; }
  .leaderboard .lead {
    line-height: 35px; }
  .leaderboard h1 {
    font-size: 65px;
    font-weight: bold;
    color: indigo;
    letter-spacing: -3px;
    text-align: center; }
  .leaderboard .headline {
    margin-top: 25px;
    line-height: 10px;
    color: white; }
    .leaderboard .headline p {
      font-size: 46px;
      font-weight: bold; }
  @media (max-width: 768px) {
    .leaderboard .headline {
      padding: 0; }
    .leaderboard h1 {
      font-size: 44px; }
    .leaderboard .headline p {
      font-size: 32px; } }

h2 {
  color: indigo; }

p {
  font-size: 24px; }

.buffer {
  margin-bottom: 10px; }

.popular-section img {
  margin-top: 20px;
  border-left: 1px solid lightblue; }

@media (max-width: 768px) {
  .popular-section .word-icon {
    max-width: 128px;
    height: 128px; } }

.excel-index {
  min-height: 300px; }
  .excel-index h1, .excel-index p {
    color: indigo; }
  .excel-index a {
    font-size: 24px; }
  .excel-index .tutorial-links {
    margin-left: 15px; }
  .excel-index .tut-descr {
    color: gray;
    font-size: 16px;
    margin-left: 10px; }

.excel-101-container {
  margin-bottom: 40px; }
  .excel-101-container h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    font-size: 40px;
    font-weight: bold;
    color: green;
    text-align: left; }
  .excel-101-container p {
    color: indigo;
    font-size: 24px; }
  .excel-101-container .header {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid lightblue; }
  .excel-101-container .excel-wrapper {
    min-height: 800px;
    border: 2px solid slategray;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px 3px slategray; }
    .excel-101-container .excel-wrapper .excel-text, .excel-101-container .excel-wrapper .excel-subtext {
      max-width: 900px;
      min-height: 100px;
      text-align: center;
      margin: 15px auto;
      color: indigo;
      font-size: 24px;
      letter-spacing: -1px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    .excel-101-container .excel-wrapper .excel-examples {
      background-color: white;
      border-radius: 10px; }
    .excel-101-container .excel-wrapper #image1, .excel-101-container .excel-wrapper #image2, .excel-101-container .excel-wrapper #image3 {
      min-height: 200px;
      margin: 50px 0px;
      border: 2px; }
    .excel-101-container .excel-wrapper #image1, .excel-101-container .excel-wrapper #image3 {
      margin-top: 75px; }
  .excel-101-container .button-wrapper {
    text-align: center; }
    .excel-101-container .button-wrapper button {
      max-width: 200px;
      margin: 10px 20px;
      padding: 10px 35px;
      font-size: 16px;
      color: white;
      font-family: Arial;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: 2px 2px 1px gray; }
  .excel-101-container #prevBtn {
    background-color: white;
    color: forestgreen;
    border-color: forestgreen; }
  .excel-101-container #nextBtn {
    background-color: forestgreen;
    color: white;
    border-color: white; }
  .excel-101-container .num-link-wrapper {
    margin: 0 auto;
    max-width: 960px; }
  .excel-101-container .num-link {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial;
    margin: 10px;
    color: darkblue;
    text-decoration: underline;
    -webkit-appearance: media-play-button; }
  .excel-101-container .num-link:hover, .excel-101-container .num-link:focus {
    color: lightblue; }
  .excel-101-container .info-wrapper {
    border: 1px solid lightblue;
    border-radius: 10px;
    min-height: 400px; }
  .excel-101-container .desc-title, .excel-101-container .desc-text {
    margin-right: 0px;
    font-size: 22px; }
  .excel-101-container .desc-title {
    text-align: center; }
  .excel-101-container .desc-text {
    border-top: 1px solid lightblue; }
  .excel-101-container .list-text {
    font-size: 22px;
    color: indigo; }
  .excel-101-container .content-four {
    margin: 0 auto; }

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 485px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000; }

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0; }

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px; }

.small-link {
  font-size: 14px;
  color: gray;
  line-height: 6px;
  margin: 15px 0px 15px 10px; }
  .small-link a {
    color: gray; }

.choose-program {
  margin: 20px;
  margin-bottom: 40px; }
  .choose-program h3 {
    font-size: 24px;
    text-decoration: underline; }
  .choose-program .program-text {
    line-height: 20px;
    font-size: 24px; }
  .choose-program a {
    color: indigo; }
  .choose-program a:hover, .choose-program a:focus {
    color: lightblue; }
  .choose-program img {
    border-left: 1px solid lightblue; }

.cellbasicsol {
  font-size: 20px;
  color: indigo; }

