
<div class="row col-xs-12 excel-text" id="congrats-text">
    <p class="header">Congratulations!</p>
</div>
<div class="row col-xs-12 col-sm-12">
    <div class="col-xs-12 col-sm-8">
        <h2>You just learned the how to manipulate and edit the cells of Microsite Excel.</h2>
        <p>Keep the learning going and go to @Html.ActionLink("the next lesson", "AddingContent", "Home")!</p>
        <p>Try putting some of the knowledge you learned to the test! Or go back and familiarize yourself some more!</p>
    </div>
</div>
