<div class="row col-xs-12 excel-text"><p class="header">Introduction</p></div>
<div class="row col-xs-12 excel-text">
    You will need to know the basic ways you can work with cells and cell content in Excel to be able to use it to calculate, analyze, and organize data. In this lesson, you will learn how to select cells, insert content, and delete cells and cell content. You will also learn how to cut, copy, and paste cells; drag and drop cells; and fill cells using the fill handle.
</div>
<div class="row col-xs-12 excel-subtext">
    Cells are the basic building blocks of a worksheet. They can contain a variety of content such as text, formatting attributes, formulas, and functions. To work with cells, you'll need to know how to select them, insert content, and delete cells and cell content.
</div>
<div class="row col-xs-12">
    <div class="row col-xs-12 col-sm-12" id="image1" >
        <div style="margin-left: 275px;"><iframe width="560" height="315" src="https://www.youtube.com/embed/jQGo3dPPQoc" frameborder="0" allowfullscreen></iframe></div>
    </div>
</div>
