<div class="row col-xs-12 excel-text" id="step-one-text">
    <p class="header">The Cell</p>
</div>
<div class="row col-xs-12 col-sm-12">
    <div class="col-xs-12 col-sm-6">
        <p>Each rectangle in a worksheet is called a cell. A cell is the intersection of a row and a column.</p>
    </div>
    <div class="col-xs-12 col-sm-6" style="margin:auto;">
        <img class="img-responsive" style="margin-bottom: 15px;  max-width: 250px; max-height: 250px;"  src="~/Content/Images/cell_intro_1000.png" />
    </div>
    <div class="col-xs-12 col-sm-6">
        <p>Each cell has a name, or a cell address based on which column and row it intersects. The cell address of a selected cell appears in the name box. Here, you can see that C5 is selected.</p>
    </div>
    <div class="col-xs-12 col-sm-6" style="margin:auto;">
        <img class="img-responsive" style="margin-bottom: 15px; max-width: 250px; max-height: 250px;" src="~/Content/Images/name_box.png" />
    </div>
    <div class="col-xs-12">
        <p>You can also select multiple cells at the same time. A group of cells is known as a cell range. Rather than a single cell address, you will refer to a cell range using the cell addresses of the first and last cells in the cell range, separated by a colon. For example, a cell range that included cells A1, A2, A3, A4, and A5 would be written as A1:A5.</p>
    </div>
    <p class="desc-title">To select a cell:</p>
    <ol class="cellbasicsol">
        <li>
            Click a cell to select it. When a cell is selected, you will notice that the borders of the cell appear bold and the column heading and row heading of the cell are highlighted.
        </li>
        <li>Release your mouse. The cell will stay selected until you click another cell in the worksheet.</li>
    </ol>
    <p class="desc-title">To select multiple cells:</p>
    <ol class="cellbasicsol">
        <li>
            Click and drag your mouse until all of the adjoining cells you want are highlighted.
        </li>
        <li>Release your mouse. The cells will stay selected until you click another cell in the worksheet.</li>
    </ol>
    
</div>
