<div class="row col-xs-12 excel-text" id="step-four-text">
    <p class="header">Cell Content</p>
</div>
<div class="row col-sm-12">
    <div class="col-xs-12 col-sm-12">
        <div class="col-sm-7">
            <p class="desc-title">To access formatting commands by right-clicking:</p>
            <ol class="cellbasicsol">
                <li>Select the cells you want to format.</li>
                <li>Right-click the selected cells. A dialog box will appear where you can easily access many commands on the Ribbon.</li>
            </ol>
        </div>
        <div class="col-sm-5">
            <img class="img-responsive" style="margin-bottom: 20px; margin-left:45px; max-width: 2750px; max-height: 200px;" src="~/Content/Images/step4-firstimage.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="col-sm-7">
            <p class="desc-title">To drag and drop cells:</p>
            <ol class="cellbasicsol">
                <li>Select the cells you want to move.</li>
                <li>Position your mouse on one of the outside edges of the selected cells. The mouse changes from a white cross to a black cross with 4 arrows.</li>
                <li>Click and drag the cells to the new location.</li>
                <li>Release your mouse, and the cells will be dropped there.</li>
            </ol>
        </div>
        <div class="col-sm-5" style="display:inline-flex;">
            <img class="img-responsive" style="margin:0 15px 20px; max-width: 275px; max-height: 200px;" src="~/Content/Images/step4-secondimage.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="col-sm-7">
            <p class="desc-title">To use the fill handle to fill cells:</p>
            <ol class="cellbasicsol">
                <li>Select the cell or cells containing the content you want to use. You can fill cell content either vertically or horizontally.</li>
                <li>Position your mouse over the fill handle so the white cross becomes a black cross. </li>
                <li>Click and drag the fill handle until all of the cells you want to fill are highlighted.</li>
                <li>Release the mouse, and your cells will be filled.</li>
            </ol>
        </div>
        <div class="col-sm-5" style="display:inline-flex;">
            <img class="img-responsive" style="margin:0 15px 20px;   max-width: 275px; max-height: 200px;" src="~/Content/Images/step4-fourthimage.png" />
            <img class="img-responsive" style="margin:0 15px 20px;  max-width: 275px; max-height: 200px;" src="~/Content/Images/step4-fifthimage.png" />
        </div>
    </div>
</div>
