<div class="row col-xs-12 excel-text" id="step-three-text">
    <p class="header">Cell Content</p>
</div>
<div class="row col-sm-12">
    <div class="col-xs-12 col-sm-12">
        <div class="col-sm-7">
            <p class="desc-title">To copy and paste cell content:</p>
            <ol class="cellbasicsol">
                <li>Select the cells you want to copy.</li>
                <li>Click the Copy command. The border of the selected cells will change appearance.</li>
                <li>Select the cell or cells where you want to paste the content.</li>
                <li>Click the Paste command. The copied content will be entered into the highlighted cells.</li>
            </ol>
        </div>
        <div class="col-sm-5" style="display:inline-flex;">
            <img class="img-responsive" style="margin:0 15px 20px;  max-width: 2750px; max-height: 200px;" src="~/Content/Images/step3-firstimage.png" />
            <img class="img-responsive" style="margin:0 15px 20px;  max-width: 2750px; max-height: 200px;" src="~/Content/Images/step3-secondimage.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="col-sm-7">
            <p class="desc-title">To cut and paste cell content:</p>
            <ol class="cellbasicsol">
                <li>Select the cells you want to cut.</li>
                <li>Click the Cut command. The border of the selected cells will change appearance.</li>
                <li>Select the cells where you want to paste the content.</li>
                <li>Click the Paste command. The cut content will be removed from the original cells and entered into the highlighted cells.</li>
            </ol>
        </div>
        <div class="col-sm-5" style="display:inline-flex;">
            <img class="img-responsive" style="margin:0 15px 20px;  max-width: 275px; max-height: 200px;" src="~/Content/Images/step3-thirdimage.png" />
            <img class="img-responsive" style="margin:0 15px 20px;   max-width: 275px; max-height: 200px;" src="~/Content/Images/step3-fourthimage.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="col-sm-12">
            <p class="desc-title">To access more paste options:</p>
            <p>There are more Paste options you can access from the drop-down menu on the Paste command. These options may be convenient to advanced users who are working with cells that contain formulas or formatting.</p>
        </div>  
    </div>
</div>
